body {
	font-family: Helvetica, Arial, sans-serif;
}
/*Landing Page*/
.landingPageComponent {
	text-align: center;
}

/*Config Page Layout
*/
.addAndListClassSection {
	display: flex;
	flex-direction: row;
}

.addClassComponent {
	flex: 1;
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
}

.classListComponent {
	flex: 1;
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
}

/*Week Component*/
.weekComponent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*Day Component*/
.dayComponent {
	text-align: center;
	border-right: 1px solid black;
	width: 20%;
}

.dayComponent:last-child {
	border-right: 0px;
}

.dayComponent ul {
	text-align: left;
}

.dayName {
	font-weight: bold;
}